* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header {

  padding: 20px;
}

.container {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;

}

.border3-black-dashed.bg-gold {
  padding: 5px;
}




/* utils*/
.border3-black-dashed {
  border: 3px black dashed;
}

.col20 {
  width: 20%;
}

.col60 {
  width: 60%;
}

.text-center {
  text-align: center;
}


.text-right {
  text-align: right;
}

/* utils/flex_attributes */

.align.center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* utils/background_colors */

.bg-turquoise {
  background-color: turquoise;
}

.bg-gold {
  background-color: gold;
}

.bg-blue {
  background-color: blue;
}

.bg-pink {
  background-color: pink;
}

.bg-silver {
  background-color: silver;
}

.bg-green {
  background-color: green;
}

.bg-light-green {
  background-color: lightgreen;
}

.bg-hot-pink {
  background-color: hotpink;
}

.bg-dark-grey {
  background-color: rgb(27, 27, 27);
}